

<meta name="viewport" content="initial-scale=1, maximum-scale=1" />

<p id="notice"><%= notice %></p>


<table class="table table-striped  table-condensed">
  <thead>
    <tr>
      <th width="2%"> </th>
	    <th width="31%"> </th>
      <th width="2%"> </th>
	    <th width="31%"> </th>
      <th width="2%"> </th>
      <th width="31%"> </th>
     </tr>
  </thead>

  
  
  
  <tbody>


 
      
     <% content_for :search do %>
 
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_cont, class: "radius-left expand", placeholder: "Поиск" %>
    <%= f.submit "Search", class: "radius-right button" %>
    
	<% end %>
   <% end %>
    
  

       <right>       <%= Time.zone.now().strftime("%T") %> </right>



  
  
    <% @pages.nodup.includes(:source).each_slice(3) do |a, b,c| %>
 	
    <tr>
     
		 <td><h6><%= a.published.to_time().in_time_zone("Moscow").strftime("%R") %></h6></td>
	
	  
	 <td> 
   
	 <% if a.summary.blank? %>
	   <% a.summary= " " %>
	 <% end %>
      <details>
       <summary><span class="badge"><%= a.cnt_match if a.cnt_match>0 %></span><%= image_tag(a.source.avatar.url(:thumb), class: 'avatar1', :size => "20") unless a.source.avatar.blank? %> <%=  link_to a.title, nil, 'href' => a.ref , :target => "_blank" , title: a.summary %></h6></div></summary>
      

       <div class=inline><%= image_tag(a.image, class: 'avatar', :size => "200") unless a.image.blank? %> <%= markdown(a.summary) %></div>
       
       </details> 
	 
	  </td>
	  
	  
	  
  <% if b!=nil%>	
	 
	
	  
	<td> <h6><%= b.published.to_time().in_time_zone("Moscow").strftime("%R") %></h6></td>
	
	  
	  
	  <td>

    
	  <% if b.summary.blank? %>
	 <% b.summary= " " %>
	 <% end %>
	 
       <details>
       <summary><span class="badge"><%= b.cnt_match if b.cnt_match>0 %></span><%= image_tag(b.source.avatar.url(:thumb), class: 'avatar1', :size => "20") unless b.source.avatar.blank? %> <%=  link_to b.title, nil, 'href' => b.ref , :target => "_blank" , title: b.summary %> </h6></div></summary>
        <%= image_tag(b.image, class: 'avatar2', :size => "200") unless b.image.blank?  %><%= markdown(b.summary) %>
       </details>
      <% end %>
	  </td>


     <% if c!=nil%>

             <td> <h6><%= c.published.to_time().in_time_zone("Moscow").strftime("%R") %></h6></td>
          <td>
          <% if c.summary.blank? %>
              <% c.summary= " " %>
          <% end %>

          <details>
            <summary><span class="badge"><%= c.cnt_match if c.cnt_match>0 %></span><%= image_tag(c.source.avatar.url(:thumb), class: 'avatar1', :size => "20") unless c.source.avatar.blank? %> <%=  link_to c.title, nil, 'href' => c.ref , :target => "_blank" , title: c.summary %> </h6></div></summary>
            <%= image_tag(c.image, class: 'avatar2', :size => "200") unless c.image.blank?  %><%= markdown(c.summary) %>
          </details>
      <% end %>
          </td>







    </tr>
	
    <% end %>
   
 
  


  </tbody>
</table>	 

<%= paginate(@pages) %>
<%#= javascript_include_tag 'input-group'%>


